name: TypeScript CI
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ${{ matrix.system.os }}
    strategy:
      matrix:
        rust_version:
          - stable
          - beta
        node_version:
          - 20
          - 22
          - 24
        system:
          - os: macos-13
            target: x86_64-apple-darwin
            arch: x64
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
            arch: x64
          - os: ubuntu-24.04-arm
            target: arm64-unknown-linux-gnu
            arch: arm64
          - os: windows-2025
            target: x86_64-pc-windows-msvc
            arch: x64
          - os: macos-14
            target: aarch64-apple-darwin
            arch: arm64
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: yarn
          architecture: ${{ matrix.system.arch }}
      - uses: IronCoreLabs/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
      - name: Install modules
        run: yarn install --ignore-scripts
      - name: Compile
        run: yarn run compile
      - name: Run tests
        run: yarn run test
        
# broken now that node20 is forced even for checkout@v3, which doesn't work using the # WORKAROUND below any more.
#   test-docker:
#     runs-on: ${{ matrix.os }}
#     container:
#       image: node:${{ matrix.node_version }}-alpine
#     strategy:
#       matrix:
#         rust_version:
#           - stable
#           - beta
#         node_version:
#           - 20
#           - 22
#           - 24
#         os:
#           - ubuntu-24.04
#           - ubuntu-24.04-arm
#       fail-fast: false
#     steps:
#       - run: apk add build-base git python3 wget
#       - run: echo RUSTFLAGS="-C target-feature=-crt-static" >> "${GITHUB_ENV}"
#       - uses: actions/checkout@v5
#       - uses: IronCoreLabs/rust-toolchain@v1
#         with:
#           toolchain: ${{ matrix.rust_version }}
#       - name: Install modules
#         run: yarn install --ignore-scripts
#       - name: Compile
#         run: yarn run compile
#       - name: Run tests
#         run: yarn run test
